#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.navBar{
  border: 5px green solid 
}
.header{
  border: 5px red solid
}
.home{
  border: 5px black solid
}
.singleArticle{
  border: 2px yellow solid
}
.singleComment {


  border-top: 2px blue solid
}

.image{
  border-bottom: 5px yellow solid;
  padding-bottom: 40px
}